body {
	font-family: Helvetica, sans-serif;
	-webkit-user-select: none;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px;
	text-align: center;
	text-transform: uppercase;
}

.debug {
	position: absolute;
	top: 0;
	padding: 20px;
	left: 1200px;
	width: 500px;
	background-color: rgba(200, 200, 200, 0.8);
	border: solid 1px purple;
	display: none;
}

.board {
	width: 1800px;
	margin: 0 auto;
}

.board-half {
	position: relative;
}

.board-half .hand {
	position: absolute;
	overflow: hidden;
	width: 202px;
	padding: 0 3px;
}

.board-half:nth-of-type(2) .hand {
	right: 0;
	top: -500px;
}

.board-half .hand .card {
	float: left;
	width: 200px;
	height: 200px;
	border: solid 1px #AAA;
	background-color: #EEE;
	font-size: 10px;
	margin-bottom: 15px;
}

.board-half .hand .card.mage {
	background-color: #9BDBFF;
}

.board-half .body {
	background-color: #EEE;
	border: solid 2px #AAA;
	height: 500px;
	position: relative;
	margin: 0 auto;
	width: 1200px;
}

.board-half:nth-of-type(1) .body {
	border-top: none;
}

.hero {
	border: solid 1px #AAA;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 20%;
	height: 200px;

	color: #666;
	line-height: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}

.board-half:nth-of-type(1) .hero {
	border-top: none;
}

.board-half:nth-of-type(2) .hero {
	bottom: 0;
	border-bottom: 0;
}

.end-turn {
	position: absolute;
	right: 359px;
	top: 477px;
	background-color: #EEE;
	font-size: 25px;
	padding: 10px;
	border: solid 2px #AAA;
	color: #666;
}

.end-turn:hover {
	background-color: #CCC;
	cursor: pointer;
}

.minion-container {
	position: relative;
	top: 200px;
	height: 300px;
	width: 100%;
	overflow: hidden;
	padding: 50px;
}

.board-half:nth-of-type(2) .body .minion-container {
	top: 0px;
}

.minion {
	border: solid 1px #AAA;
	float: left;
	width: 200px;
	height: 200px;
	position: relative;
	margin-right: 15px;
}

.minion.can-attack,
.board-half .hand .card.playable {
	border: solid 3px #4CBB17;
}

.minion.can-attack:hover,
.board-half .hand .card.playable:hover {
	background-color: #CCC;
	cursor: pointer;
}

.name {
	color: #666;
	line-height: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}

.minion .attack {
	position: absolute;
	bottom: 0;
	left: 0;
	color: red;
	font-size: 25px;
	font-weight: bold;
	border: solid 1px red;
	border-bottom: none;
	border-left: none;
	padding: 5px 10px;
}

.minion .health {
	position: absolute;
	bottom: 0;
	right: 0;
	color: green;
	font-size: 25px;
	font-weight: bold;
	border: solid 1px green;
	border-bottom: none;
	border-right: none;
	padding: 5px 10px;
}
