/* XXX this css is very haphazard, don't judge me.
 * TODO: see if figwheel supports automatically running css preprocessors.
 * converting to sass or whatever could be a good excuse for fixing up this file */

body {
	font-family: Helvetica, sans-serif;
	-webkit-user-select: none;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px;
	text-align: center;
	text-transform: uppercase;
}

.combat-log-viewport {
	position: absolute;
	top: 350px;
	left: 299px;
	font-size: 25px;
	overflow: hidden;
	width: 12px;
	height: 300px;
	padding: 4px;
	border: solid 1px #AAA;
	font-family: monospace;
	background-color: #EEE;
}

.combat-log-viewport:hover {
	width: 1000px;
	background-color: #DDD;
}

.combat-log {
	position: absolute;
	width: 1000px;
}

.overlay {
	width: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 2;
}

.board {
	width: 1800px;
	margin: 0 auto;
	position: relative;
}

.board-half {
	position: relative;
}

.board-half .hand {
	position: absolute;
	overflow: visible;
	width: 202px;
	padding: 0 3px;
	z-index: 1;
	top: 0;
	padding: 0 25px;
}

.board-half.is-owners-turn .hand {
	background-color: #EEE;
}

.board-half.is-owners-turn h3 {
	color: green;
}

.board-half:nth-of-type(2) .hand {
	right: 0;
	top: -500px;
}

.mulligan-container {
	position: absolute;
	top: 550px;
	left: 525px;
	width: 1000px;
	z-index: 3;
}

.mulligan-container .card {
	margin-right: 75px;
}

.mulligan-container .card:hover {
	background-color: #CCC;
	cursor: pointer;
}

.card {
	float: left;
	width: 200px;
	height: 200px;
	border: solid 1px #AAA;
	background-color: #EEE;
	font-size: 10px;
	margin-bottom: 17px;
	position: relative;
}

.board-half .hand .card .content {
	position: relative;
}

.card .content {
	width: 100%;
	height: 100%;
	display: table;
}

.mana-cost {
  position: absolute;
  top: -22px;
  left: -22px;
  width: 50px;
  height: 28.87px;
  background-color: #5ab9db;
  margin: 14.43px 0;
  border-left: solid 1px #555;
  border-right: solid 1px #555;
  z-index: 2;
}

.mana-cost .mana-content {
	position: absolute;
	color: white;
	font-size: 30px;
	z-index: 3;
	width: 50px;
	text-align: center;
}

.mana-cost:before,
.mana-cost:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 6.3223px;
}

.mana-cost:before {
  top: -17.6777px;
  border-top: solid 1.4142px #555;
  border-right: solid 1.4142px #555;
}

.mana-cost:after {
  bottom: -17.6777px;
  border-bottom: solid 1.4142px #555;
  border-left: solid 1.4142px #555;
}


.board-half .hand .card.mage {
	background-color: #9BDBFF;
}

.board-half .hand .card.rogue {
	background-color: #777;
}

.board-half .hand .card .content {
	background-color: #EEE;
	width: 90%;
	height: 90%;
	top: 10px;
	left: 10px;
	display: table;
}


.board-half .hand .card .attack {
	bottom: -10px;
	left: -10px;
}

.board-half .hand .card .health {
	bottom: -10px;
	right: -10px;
}

.board-half .mana-tray {
	position: absolute;
	height: 25px;
	width: 291px;
	right: 0;
	padding-left: 3px;
	border: solid 1px #BBB;
	border-right: none;
	overflow: hidden;
}

.board-half .mana-tray .mana-crystal-container {
	float: left;
	margin-right: 4px;
	font-size: 21px;
	color: #117AE8;
}

.board-half .mana-tray .mana-crystal-container.spent {
	color: #666;
}


.board-half:nth-of-type(2) .mana-tray {
	bottom: 0;
	border-bottom: none;
}

.board-half .body {
	background-color: #EEE;
	border: solid 2px #AAA;
	height: 500px;
	position: relative;
	margin: 0 auto;
	width: 1200px;
}

.board-half:nth-of-type(1) .body {
	border-top: none;
}

.hero,
.board.targeting .hero.targetable {
	border: solid 1px #AAA;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 20%;
	height: 200px;
	display: table;
	background-color: #EEE;

	color: #666;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}

.board-half:nth-of-type(1) .hero {
	border-top: none;
}

.board-half:nth-of-type(2) .hero {
	bottom: 0;
	border-bottom: 0;
}

.unselected-mulligan-card,
.hero .loser {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 200px;
	color: #cc0000;
	text-align: center;
	background-color: #EEE;
}

.unselected-mulligan-card {
	background-color: initial;
}

.accept-mulligan,
.end-turn,
.cancel-mode {
	position: absolute;
	top: 477px;
	background-color: #EEE;
	font-size: 25px;
	padding: 10px;
	border: solid 2px #AAA;
	color: #666;
	z-index: 5;
}

.accept-mulligan {
	left: 44%;
}

.cancel-mode {
	left: 44%;
}

.end-turn {
	right: 299px;
}

.accept-mulligan:hover,
.end-turn:hover,
.cancel-mode:hover {
	background-color: #CCC;
	cursor: pointer;
}

.minion-container {
	position: relative;
	top: 200px;
	height: 250px;
	width: 100%;
	overflow: hidden;
	padding: 50px;
}

.board-half:nth-of-type(2) .body .minion-container {
	top: 0px;
	padding-bottom: 0;
}

.board.targeting .minion,
.board.targeting .hand .spell,
.board.targeting .hero {
	background-color: #AAA;
	border: solid 1px #AAA;
}

.board.targeting .minion:hover,
.board.targeting .hand .spell:hover{
	cursor: default;
}

.board.targeting .board-half .attacker {
	background-color: #FFFC00;
}

.minion,
.board.targeting .minion.targetable {
	border: solid 1px #AAA;
	background-color: #EEE;
	float: left;
	width: 200px;
	height: 200px;
	position: relative;
	margin-right: 15px;
	display: table;
}

.minion.can-attack,
.board-half .hand .card.playable {
	border: solid 3px #4CBB17;
}

.minion.can-attack:hover,
.board-half .hand .card.playable:hover,
.board.targeting .minion.targetable:hover,
.board.targeting .hero.targetable:hover {
	background-color: #CCC;
	cursor: pointer;
}

.minion-attributes {
	position: absolute;
	width: 100px;
	left: 50px;
	bottom: 8px;
	text-align: center;
}

.minion-attributes i {
	padding: 0 5px;
}

.minion-attributes strong {
	font-weight: bold;
	font-size: 32px;
}

.name {
	color: #666;
	line-height: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}

.minion .attack,
.hero .attack {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #E8A026;
	color: white;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 10px;
}

.minion .attack.buffed {
	color: #1BD919;
	text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;
}

.minion .health,
.hero .health {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #C92623;
	color: white;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 10px;
}

.hero .health.damaged,
.minion .health.damaged {
	color: #C92623;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.hero .health.buffed,
.minion .health.buffed {
	color: #1BD919;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
